*.png
*.avi
*.o
main
output.txt
sample.txt
sample_info.txt
levels.txt
weights.txt
posterior_sample.txt
*.pyc
logfile
Lensing2
*.pdf

# Junk that tends to clutter my status messages
Data/0047_image.txt
Data/0047_metadata.txt
Data/0047_psf.txt
Data/0047_sigma.txt
Data/F814W_psf.fits
Data/SDSSJ0946+1006_F814W_psf.fits
Data/SDSSJ0946+1006_F814W_sci.fits
Data/SDSSJ0946+1006_F814W_sig.fits
Data/apm_image.txt
Data/apm_metadata.txt
Data/apm_psf.txt
Data/apm_sigma.txt
Data/fake_apm.py
Data/fake_apm.tgz
Data/fake_apm_image.txt
Data/fake_apm_metadata.txt
Data/fake_apm_psf.txt
Data/fake_apm_sigma.txt
Data/galsub_F814W.fits
Data/galsub_F814W_t0.txt
Data/horseshoe_hst.txt
Data/horseshoe_hst_image.txt
Data/horseshoe_hst_metadata.txt
Data/horseshoe_hst_psf.txt
Data/horseshoe_hst_sigma.txt
Data/horseshoe_image.txt
Data/horseshoe_metadata.txt
Data/horseshoe_psf.txt
Data/horseshoe_sigma.txt
Data/image.txt
Data/index.html
Data/jackpot_image.txt
Data/jackpot_metadata.txt
Data/jackpot_psf.txt
Data/jackpot_sigma.txt
Data/psf.txt
Data/temp.jpg
Lenses/BlobbySPEMD.cpp
Lenses/BlobbySPEMD.h
Papers/response.odt
Papers/source.tgz
Sandpit/fastell.f
distances.py
fastell.f
lv_lens.c
texput.log
