*.png
*.avi
*.o
main
output.txt
sample.txt
sample_info.txt
levels.txt
weights.txt
posterior_sample.txt
*.pyc
logfile
Lensing2
*.pdf
run_data.txt
sampler_state.txt
loadrow

# Junk that tends to clutter my status messages
src/Data/*
*.orig

distances.py
fastell.f
lv_lens.c
texput.log
